h1 {
  margin-top: 50px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
}
	img {
  height: 300px;
  width: 420px
}
